* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;

}

.input-group {
    width: 383px;
    border-radius: 20px;
    height: 35px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
}

.userInput {
    border-radius: 20px 0px 0px 20px;
    border: none;
    outline: none;
    padding-left: 16px;
}


#select1,
#select2,
#select3 {
    width: 100%;
    border: none;
    border-left: 1px solid black;
}

#select3 {
    border-radius: 0px 20px 20px 0px;

}

.select-group {
    width: 180px;
}